/* HEADER */
body {
    background: url(../../media/imgs/back.png);
    background-size: 55%;
}
.header {
    height: 60px;
    background-color: #686de0;
    position: fixed;
    display: inline-block;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    justify-content: space-between;
    font-family: 'Roboto';
    user-select: none;
    z-index: 1000;
}

.logo-title {
    font-weight: 700;
    color: white;
    font-size: 30px;
}

.header-inner {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header-logo {
    display: inline-flex;
    align-items: center;
}

.logo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

.container {
    margin-top: 10px;
}



/*NAVIGATION (header)*/
.nav-link {
    text-decoration: none;
    color: white;
    margin-right: 25px;
}

.nav-link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: relative;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s linear;
    border-radius: 10px;
}

.nav-link:hover:after {
    opacity: 1;
}
nav {
    display: flex;
    color: white;
    font-size: 20px;
    position: relative;
    font-weight: 700;
    align-items: center;
}





/* MAINBODY account.html*/
.account-inner {
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    overflow: auto;
}

.account-window {
    width: 70%;
    margin: auto;
    background-color: white;
    padding-bottom: 30px;
    margin-top: 100px;
    border-radius: 10px;
    font-family: 'Roboto';
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.account-title {
    text-align: center;
    margin-bottom: -5px;
    margin-left: 10px;
}
.input-question {
    text-align: left;
    margin-left: 30px;
}

.form-control {
    width: 82%;
    margin-left: 150px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 7px;
    background-color: #ECECEC;
    outline: none;
    border: none;
}

.form-control:hover {
    box-shadow: 0 2px 5px 0 #7f8c8d;
    transition-duration: .5s;
}
.form-control:focus {
    box-shadow: 0 2px 5px 0 #7f8c8d;
    transition-duration: .5s;
}

.input-container {
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.input-question {
    font-size: 20px;
    position: absolute;
}



/*КНОПКИ account.html*/
.account-buttons {
    position: relative; 
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center;
    border: 0 none;
    font-family: 'Roboto';
    font-size: 15px;
}

.left-buttons {
    display: flex;
    border-radius: 10px;
    margin-left: 30px;
    width: 150px;
    height: 30px;
}


.save-button {
    display: inline-block;
    width: 200px;
        font-family: 'Roboto';
    font-size: 15px;
            padding: 5px 5px;
    background: #ECECEC; 
    border: 0 none;
    cursor: pointer;
    border-radius: 10px;
        font-family: 'Roboto';
    font-size: 15px;
    margin-right: 15px;
}

.change-password-button {
    display: inline-block;
    position: sticky;
    width: 140px;
    height: 30px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    margin-left: -4px;
    border: 0 none;
        font-family: 'Roboto';
    font-size: 15px;
        background: #ECECEC; 
}

.sign-out-button {
    display: inline-block;
    position: sticky;
    width: 60px;
    margin-left: 30px;
    height: 30px;
        padding:5px 5px;
    background: #ECECEC; 
    border: 0 none;
    cursor: pointer;
    border-radius: 10px 0px 0px 10px;
        font-family: 'Roboto';
    font-size: 15px;
}

.sign-out-button:hover, .change-password-button:hover, .save-button:hover {
    background-color: #bdbdbd;
    transition-duration: .3s
}

.sign-out-button:active, .change-password-button:active, .save-button:active {
    background-color: #ececec;
    transition: linear 1s;
}




/*REGISTER*/
.register-container {
    width: 40%;
    margin-top: 20px;
    display: flex;
    text-align: center;
    position: relative;
    left: 30%;
}

.register-input-container {
    display: inline-flex;
    align-items: center;
    width: 90%;
    margin-top: 20px;
}

.register-button {
    width: 200px;
    display: block;
    text-decoration: none;
    background-color: #686de0;
    color: white;
    height: 30px;
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    font-family: 'Roboto';
    font-size: 15px;
    user-select: none;
    margin: auto;

    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.register-button:hover {
    background-color: #3238d5;
    transition-duration: .3s
}

.register-button:active {
    background-color: #686de0;
    transition: linear 1s;
}
 
.politic-checkbox {
    margin-left: 280px;
    width: 20px;
    margin-top: 6px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 7px;
    background-color: #ECECEC;
    outline: none;
    border: none;
}

.terms {
    color: black;
}

.politic-checkbox:checked {
    background-color: red;
} 

.reg-error {
    margin: auto;
    display: block;
    position: relative;
    width: 200px;
    text-align: center;
    margin-top:15px;
    color: #e74c3c;

}

.checkbox {
    margin-left: 280px;
    width: 20px;
    margin-top: 6px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 7px;
    background-color: #ECECEC;
    outline: none;
    border: none;
}


/* Cat index.html*/
.Catcontainer {
    position: absolute;
    left: 0;
    top: 30px;
    right: 0;
    width: 100%;
    font-family: 'Roboto';
    font-size: 15px;
}

.Catinner {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-wrap: wrap;

}
.Cat {
    background-color: white;
    width: 350px;
    border-radius: 10px;
    height: 400px;
    display: flex;
    position: relative;
    margin-left: 50px;
    margin-top: 50px;
}


.Cat-image {
    display: block;
    position: relative;
    width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.Cat-title {
    font-size: 20px;
    text-align: center;
}

.Cat-description {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    overflow: hidden;
    max-width: 350px;
    max-height: 55px;
}

.Cat-more {
    display: block;
    top: 350px;
    position: absolute;
    width: 200px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-left: 75px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color: #686DDF;
}

.Cat-more:hover {
    background-color: #3238d5;
    transition-duration: .3s
}

.Cat-more:active {
    background-color: #686de0;
    transition: linear 1s;
}

/*  Login */

.login {    
    width: 100%;
    padding-top: 40px; 
    margin:40px;}

.login-window {
    background-color: white;    
    width: 500px;
    height: 400px;    
    margin: auto;
    position: relative;    
    display: block;
    border-radius: 10px;    
    padding-top: 20px;
    font-family: 'Roboto';}
.login-logo {
    height: 150px;    
    width: 150px;
    margin: auto;    
    user-select: none;
}
.login-title {
    font-size: 20px;
    font-weight: 700;    
    text-align: center;
    margin-top: 10px;}

.login-input {
    margin-left: 50px;
    height: 30px;
    font-size: 20px;
    padding-right: 15px;
}

.login-input-container {    
    display: inline-flex; 
    width: 100%;
    margin-top: 10px;    
    justify-content: flex-start;    
    margin-bottom: 10px;
}
.login-question {    
    font-size: 20px;
    margin-left: 7%;    
    display: flex;
    position: absolute;}

.login-button {
    position: relative;    
    display: block;
    background-color: #686de0;    
    width: 150px;
    color: white;    
    border-radius: 10px;
    height: 30px;    
    margin: auto;
    margin-top: 10px;    
    line-height: 30px;
    cursor: pointer;    
    user-select: none;
    margin-bottom: 10px;}

.login-button:hover {
    background-color: #3238d5;    
    transition-duration: .3s
}
.login-button:active {    
    background-color: #686de0;
    transition: linear 1s;}

.login-options {
    width: 100%;    
    text-align: center;
}
.sign-up-offer {    
    position: relative;
    display: block;}

.sign-up-link {
    color: black;}

.wrong-password {    
    margin: auto;
    display: block;    
    position: relative;
    width: 100%;    
    text-align: center;
    margin-top: 10px;    
    color: #e74c3c;
}
.login-input:hover {    
    box-shadow: 0 2px 5px 0 #7f8c8d;
    transition-duration: .5s;}

.login-input:focus {    
    box-shadow: 0 2px 5px 0 #7f8c8d;
    transition-duration: .5s;}


/*Cat.HTML */
.main-Cat-inner {
    width: 99%;
    font-family: 'Roboto';
    justify-content: center;
    flex-direction: row;
    display: flex;
}

.main-Cat-window {
    height: 600px;
    width: 600px;
    position: relative;
    margin-top: 70px;
    margin-left:10px;
    border-radius: 10px;
    display: inline-flex;
    margin-right: 20px;
}

.main-Cat-info-container {
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    height: 120%;
    background-color: white;
    border-radius: 10px;
    display: block;
}

.main-Cat-img {
    width: 100%;
    flex-wrap: wrap;
    object-fit: cover;
    border-radius: 10px;
    height: 100%;
}

.main-Cat-host-title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.main-Cat-host-avatar {
    width: 150px;
    height: 150px;
    flex-wrap: wrap;
    object-fit: cover;
    border-radius: 100px;
    margin: auto;
    display: block;
    position: relative;
    margin-top: 5px;
}

.main-Cat-host-description {
    text-align: center;
    margin-top: 5px;
}

.main-Cat-description {
    width: 800px;
    background-color: white;
    position: relative;
    display: inline;
    height: 720px;
    margin-top: 80px;
    border-radius: 10px;
    padding-right: 20px;
}

.description-title {
    font-size: 32px;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 20px;
    width: 100%;
    height: 80px;
}

.description {
    margin-left: 30px;
    margin-right: 20px;
    height: 320px;
    font-size: 18px;
    font-weight: 400;
}

.description-container {
}

.ticket-prices {
    height: 150px;
    width: 100%;
    margin-left: 30px;
}

.Cat-info {
    margin-left: 30px;
    margin-top: 20px;
}