{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
    <div class="login">
        <div class="container">
            <div class="login-window">
                <div class="login-logo-container">
                    <div class="login-logo"><a href="{% url 'main' %}"><img src="{% static 'img/logo.png' %}", class="login-logo"></a></div>
                    <div class="login-title">Авторизация</div>
                </div>
                <div class="login-inner">
                  {% for i in form %}
                <div class="login-input-container">
                    <div class="login-input">{{ i.label_tag }}</div>
                  {{ i }}
                </div>
                  {% endfor %}
                    <div class="login-options">
                            <input type="submit" value="Войти" class="login-button">
                        <div class="sign-in-offer">Нет аккаунта? <a href="{% url 'signup' %}" class="sign-up-link">Зарегистрируйтесь!</a></div>
                    </div>
                    {% if form.errors %}
                    <div class="wrong-password">
                    <strong class="wrong-password">Неверные данные</strong>
                    </div>
                    {% endif %}
                    </div>
                </div>
            </div>
    </div>
</form>
{% endblock %}